<style>
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: rgb(96 165 250);
    }
    ::-webkit-scrollbar-thumb {
      background: rgb(46, 140, 255);
      border-radius: 10px;
    }
    </style>
<nav class="h-[auto] w-[auto] g-[10px] flex flexbox text-center justify-center items-center p-8 font-bold rounded-b-[50px] bg-gray-50 drop-shadow-[0_35px_35px_rgba(0,0,0,0.25)]">
    <span class="logo m-7 text-2xl"><a class=" hover:text-cyan-500" href="/">GT</a></span>
    <span class="m-3 text-[18px]">
        <span><a class="m-3 hover:text-cyan-500" href="/">Home</a></span>
        <span><a class="m-3 hover:text-cyan-500" href="/profile">Admin Login</a></span>
    </span>
</nav>